body {
  margin: 0;
  background-color: #000;
}

.header {
  background-color: #fff;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header-contacts__phone {
  font-size: 22px;
}